@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

.hero{
    margin-top: 130px;
    display: flex;
    align-items: center;
}

.hero-text{
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    left: 20%;
    font-size: 40px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    
}

.hero-text h2, .hero-text h3{
    background-image: linear-gradient(to right, #050505, #e7e7e7, #fefefe, #fdfdfd, #fdfdfd, #fcfcfc, #fbfbfb);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;   
    background-clip: text;
    color: transparent;
}

.hero-img{
    margin-left: 25%;
    position: relative;
    z-index: -2;
}


.fancy {
    --b: 6px;   /* control the border thickness */
    --w: 430px;  /* control the width of the line*/
    --g: 15px;  /* control the gap */
    --c: #000000;
   
    margin-top: 70px;
    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: 
      conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
      conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: 
       linear-gradient(
         #0000      calc(50% - var(--b)/2),
         var(--c) 0 calc(50% + var(--b)/2),
         #0000    0) 
      1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
  }
